.features {
  padding-top: 10px;
  margin-top: 24px;
  background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%);

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 44px;
    margin-top: 18px;
  }

  &__list-item {
    display: flex;
    width: calc(50% - 44px / 2);
    min-height: 182px;
    padding: 40px 40px 10px;
    margin-bottom: 44px;
    background-color: #fff;
    border-radius: 10px;
    transition: box-shadow 0.3s linear;
  }

  &__list-item:hover {
    box-shadow: 0 0 20px $border-color;
  }

  &__list-item:nth-child(2n - 1) {
    margin-right: 44px;
  }

  &__img {
    margin-right: 22px;

    img {
      max-width: 66px;
    }
  }

  &__item-content {
    padding: 10px;
  }

  &__item-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    color: $text-main;
  }

  &__item-text {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: $text-auto;
  }
}

.center {
  &__text-content {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    margin-bottom: 12px;
  }
}