*,
*::after,
*::before {
  box-sizing: border-box;
}

a:link {
  color: #656464;
}

a:visited {
  color: #656464;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: #656464;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1226px;
  padding: 0 30px;
  margin: 0 auto;
}