$text-auto: #656464;
$text-main: #0a093d;
$text-background: #217bf4;
$border-color: #e5e5e5;
$card-link: #4a4a56;
$background-color: #e2efff;

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link {
  color: $text-auto;
}

a:visited {
  color: $text-auto;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: $text-auto;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1226px;
  padding: 0 30px;
  margin: 0 auto;
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 900px;
  }
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}
