.btn {
  padding: 17px 42px;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  background-color: $text-background;
  border: 1px solid $text-background;
  border-radius: 14px;
  transition: background-color 0.4s linear, color 0.4s linear;
}

.btn:hover {
  color: $text-background;
  background-color: #fff;
}
