.title {
  margin-bottom: 18px;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  color: #000;
}

.subtitle {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: #217bf4;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
